.cart-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    font-family: 'Reggae One';

}

.cart-wrapper > i {
    position: absolute;
    top: 1vh;
    right: 3vw;
}

.cart-wrapper ul {
    max-height: 55vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}

.button-area{
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
}