.button{
    --button-margin:calc(20vw / 8);
    width: 20vw;
    height: 20vw;
    text-align: center;
    font-size: 5vw;
    background-image: url('../../../../public/button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:bisque;
    margin: var(--button-margin);
}