.layout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.header-style{
    height: 10vh;
    width: 100vw;
} 
.main-style{
    height:80vh;
    width: 100vw;
}

.footer-style{
    height:10vh;
    width: 100vw;
    max-height: 10vh;
}