.button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh 0;

}

.titolo{
    /* filter: blur(8px);    */
    background:rgba(0, 0, 0, 0.082);
    margin: 0;
    border-radius: 5px;
    
}

.titolo p {
    margin: 0;
    font-size: 1.5vh;
}

.logo{
    height: 5vh;
    width: 5vh;
    max-height: 5vh;
    max-width: 5vh;

}