.list-item{
    display:flex ;
    justify-content: space-between;   
}

.list-item::after{
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: aqua;
}

.button{
    background-color: white;
    border-radius: 50%;
    padding: 0.1vh;
    
}