.error{

    background-color: rgba(255, 0, 0, 0.404);
    color:yellow;
    font-weight: bold;
    
}

.success{
    background-color: rgba(0, 128, 0, 0.815);
    color: bisque;
    font-weight: bold;
}