.ordini-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.utenti{
    width: 80vw;
    max-width: 60vw;
    height: 35vh;
    overflow-y: scroll;
    margin:auto;
    margin-top: 0;
    padding: 0 3vw;
    font-size: 2.2vw;
}
.titolo{
    text-align: center;
}

.ordinazione-btn-wrapper{
    display: flex;
    padding: 0 15vw;

}

@media only screen and (max-width : 980px) {
    .ordinazione-btn-wrapper{
        display: flex;
        flex-direction: column;
        padding: 0 15vw;
    
    }
    .utenti{
        width: 80vw;
        max-width: 60vw;
        height: 35vh;
        overflow-y: scroll;
        margin:auto;
        margin-top: 0;
        padding: 0 3vw;
        font-size: 3.2vw;
    }
}

